.greencircle,
.graycircle,
.yellowcircle,
.redcircle {
    margin-top: 3px;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.graycircle {
    background: #d0ceca;
    border: 1px solid #d0ceca;
}

.greencircle {
    background: #19be6b;
    border: 1px solid #19be6b;
}

.yellowcircle {
    background: #ff9900;
    border: 1px solid #ff9900;
}

.redcircle {
    background: #ed4014;
    border: 1px solid #ed4014;
}

.anchorBL {
    display: none;
}

.project-status,
.project-stage {
    padding-left: 16px;
}